*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
header{
  background-color:#f0f0f0;
}
header nav{
  display:flex;
  justify-content:space-around;
  align-items:center;
}
header nav,aside nav{
  background-color:#f0f0f0;
  width:100%;
}
header nav{
  width:90%;
  margin:auto;
}
header nav ul, aside nav ul{
  width:70%;
  margin:auto;
  height:70px;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  background-color:#f0f0f0;
  font-size:1.3rem;
}
header nav ul li, aside nav ul li,.togglebtn{
  padding:0.3rem 1rem;
  background-color:skyblue;
  color:#fff;
  border:none;
  border-radius:5px;
  list-style-type:none;
  cursor:pointer;
}
.togglebtn{
  font-size:1.1rem;
}
aside{
  height:100vh;
}
aside nav{
  width:15%;
  height:90%;
  position:sticky;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:column;
}
aside nav ul{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  flex-direction:column;
}
aside nav ul{
  flex-direction:column;
}
aside nav ul li{
  margin:0.6rem 0px;
}
.showtime{
  border:2px solid rgb(76, 71, 71);
  padding:1rem 1rem;
  height:150px;
  display:flex;
  justify-content:space-around;
  align-items:space-around;
  flex-direction:column;
}
.showtime h3{
  font-size:1.4rem;
  color:rgb(118, 193, 239);
}

@media (max-width:900px){
  aside nav{
    width:24%;
  }
}
@media (max-width:500px){
  aside nav{
    width:42%;
  }
}





































/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.info {
  margin-bottom: 15px;
}

.info input[type="text"],
.info input[type="email"],
.info input[type="password"],
.info input[type="number"] {
  width:95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.info label {
  margin-left: 5px;
}

.info input[type="radio"] {
  margin-left:2px;
}

.info input[type="checkbox"] {
  margin-right: 5px;
}

.info button {
  background-color: #76c079;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.info button:hover {
  background-color: #45a049;
}

table {
  width:50%;
  margin:1rem auto;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
} */
